<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/auth.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container flex">
      <div class="sub-container flex-column">
        <h1 class="title">Login</h1>
        <%- include('../partials/error', {errors: error}) %>
        <form class="auth-form flex-column" action="/auth/signin" method="post">
          <input
            type="text"
            class="form-input"
            id="userName"
            name="userName"
            placeholder="Enter UserName"
            required
          />
          <input
            type="password"
            class="form-input"
            id="password"
            name="password"
            placeholder="Enter Password"
            required
          />
          <button type="submit" class="submit-btn btn">Sign In</button>
        </form>
        
        
        <div class="auth-router flex">
          <p>Create Account?</p>
          <a href="/auth/signup"> Sign Up</a>
        </div>
      </div>
    </div>
  </body>
</html>
