<!-- <script src="scripts/channel.js"></script> -->
<div id="channel-item" class="channel-item flex" key="<%= channel._id %>">
  <a href="/channel/<%= channel._id %>" class="channel-name">
    <%= channel.channelName %>
  </a>
  <button id="get-link" class="get-link submit-btn">invite</button>
</div>
<link rel="stylesheet" href="styles/channel.css" />
