<link rel="stylesheet" href="styles/header.css">
<div class="header flex">
    <div class="welcome">
        Welcome <%= user.userName %> 
    </div>
    <div class="drop-down flex">
        <div id="notification-header" class="notification-header">
            <h3>
                Notifications
            </h3>
            <div id="notifications" class="notifications"></div>
        </div>
        <a href="/logout" class="logout btn flex">
            Logout
        </a>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="scripts/header.js"></script>