<link rel="stylesheet" href="styles/header.css">
<div id="header" class="header flex" userid="<%= user.userId %>" username="<%= user.userName %>">
    <div class="welcome">
        Welcome <%= user.userName %> 
    </div>
    <div class="drop-down flex">
        <%- include("./notifications.ejs", {user: user, notifs: notifs}) %> 
        <a href="/logout" class="logout btn flex">
            Logout
        </a>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="scripts/header.js"></script>