<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/home.css" />
    <title>Visqord</title>
  </head>
  <body>
    <div class="container flex">
      <div class="channel-container flex-column">
        <a href="/" style="color: #858585" >
          <h1>VisQorD</h1>  
        </a>
        <hr width="80%" />
        <div class="new-channel-container-header flex">
          <div class="new-channel-container hide" id="new-channel-container">
            <input
              type="text"
              name=""
              class="input-text"
              id="new-channel-name"
              placeholder="Channel Name..."
            />
            <input
              type="text"
              name=""
              class="input-text"
              id="new-channel-tag"
              placeholder="Channel Description..."
            />
            <input
              type="text"
              name=""
              class="input-text"
              id="new-channel-tag"
              placeholder="#tags with space..."
            />
            <button type="submit" class="submit-btn" id="new-channel-submit">
              Get Invite Link
            </button>
          </div>
          <button id="show-create-channel" class="show-create-channel btn">
            Create Channel
          </button>
        </div>
        <div class="join-channel-container-header flex">
          <div class="join-channel-container hide" id="join-channel-container">
            <input
              type="text"
              name=""
              class="input-text"
              id="join-channel-link"
              placeholder="Invite Link..."
            />
            <button type="submit" class="submit-btn" id="join-channel-submit">
              Join
            </button>
          </div>
          <button id="show-join-channel" class="show-create-channel btn">
            Join Channel
          </button>
        </div>
        <% if (channels.length) { %>
          <h1 style="color: #e4e0e0">Channels: -</h1>
          <div class="channel-list flex-column">
            <% for( let index = 0; index < channels.length; index++ ) { %> 
              <%- include("./partials/channel.ejs", {channel: channels[index]}) %> 
            <% } %>
          </div>
        <% } %>
      </div>
      <div id="main" class="main flex-column">
        <div class="header flex">
          <div class="welcome">
            <h1>Welcome <%= user.userName %> </h1>
          </div>
          <a href="/logout" class="logout btn flex">
            Logout
          </a>
        </div>
        <% if (selector === "dashboard") { %>
          <%- include("./partials/dashboard.ejs") %> 
        <% } else  { %>
          <%- include("./partials/chat.ejs", {channel: selector, user: user, posts: posts}) %> 
        <% } %>
      </div>
    </div>
  </body>
</html>
<script src="scripts/home.js"></script>
