<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link defer rel="stylesheet" href="styles/auth.css">
    <title>Oops</title>
</head>
<body>
    <div class="container flex">
        <div class="sub-container">
            <div class="auth-form">
                <h1>Seems like this page does not exist :') Wanna go back ? <span><a href="/">Visqord</a></span></h1>
            </div>
        </div>
    </div>
</body>
</html>